.getin-div {
}

.getin-div h1 {
}

.getin-div p {
  place-self: center;
}

.get_Top-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.get_icon-div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.border-div {
  border: 2px solid rgb(207, 207, 207);
  border-radius: 10px;
}

.get_wrapper-div {
  text-align: start;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrap_text-div p {
  place-self: start;
}

.Icon_wrapper-div {
  display: flex;
  justify-content: space-evenly;
}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 229, 229);
  border: none;
  border-radius: 50%;
}

.get_input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get_input-div input {
  border-radius: 5px;
  border: 1px solid rgb(172, 172, 172);
}

.get_input-div button {
  background-color: rgba(27, 53, 61, 1);
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 768px) {
  .getin-div {
    width: 100%;
    height: auto;
  }

  .getin-div h1 {
    font-size: 30px;
    font-weight: 900;
  }

  .getin-div p {
    width: 80%;
    font-size: 17px;
    padding: 20px;
  }

  .get_Top-div {
    flex-direction: column-reverse;
  }

  .get_icon-div {
  }

  .border-div {
    margin-top: 40px;
    border: 2px solid rgb(207, 207, 207);
    padding: 10px;
    margin-bottom: 40px;
  }

  .get_wrapper-div {
    width: 280px;
    padding: 20px;
  }

  .wrap_text-div p {
    padding: 0px;
    width: 180px;
  }

  .Icon_wrapper-div {
    padding: 30px 30px 30px 30px;
  }

  .icon-div {
    width: 40px;
    height: 40px;
  }

  .get_input-div {
  }

  .get_input-div input {
    width: 280px;
    height: 40px;
    font-size: 16px;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .get_input-div button {
    padding: 10px;
    width: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .getin-div {
    width: 100%;
    height: auto;
  }

  .getin-div h1 {
    font-size: 30px;
    font-weight: 900;
  }

  .getin-div p {
    width: 80%;
    font-size: 17px;
    padding: 20px;
  }

  .get_Top-div {
    flex-direction: row;
    justify-content: space-around;
  }

  .get_icon-div {
  }

  .border-div {
    margin-top: 40px;
    border: 2px solid rgb(207, 207, 207);
    padding: 10px;
    margin-bottom: 40px;
  }

  .get_wrapper-div {
    width: 280px;
    padding: 20px;
  }

  .wrap_text-div p {
    padding: 0px;
    width: 180px;
  }

  .Icon_wrapper-div {
    padding: 30px 30px 30px 30px;
  }

  .icon-div {
    width: 40px;
    height: 40px;
  }

  .get_input-div {
  }

  .get_input-div input {
    width: 250px;
    height: 40px;
    font-size: 16px;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .get_input-div button {
    padding: 10px;
    width: 150px;
  }
}

@media only screen and (min-width: 992px) {
  .getin-div {
    width: 100%;
    height: 100vh;
  }

  .getin-div h1 {
    font-size: 50px;
    font-weight: 900;
  }

  .getin-div p {
    width: 700px;
    font-size: 19px;
    padding: 20px;
  }

  .get_Top-div {
  }

  .get_icon-div {
    width: 50%;
  }

  .border-div {
    border: 2px solid rgb(207, 207, 207);
    padding: 20px;
  }

  .get_wrapper-div {
    width: 330px;
    padding: 20px;
  }

  .wrap_text-div p {
    padding: 0px;
    width: 200px;
  }

  .Icon_wrapper-div {
    padding: 50px 30px 30px 30px;
  }

  .icon-div {
    width: 60px;
    height: 60px;
    margin: 0px 0px 0px 40px;
  }

  .get_input-div {
    width: 50%;
  }

  .get_input-div input {
    width: 400px;
    height: 40px;
    font-size: 16px;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .get_input-div button {
    padding: 10px;
    width: 150px;
  }
}

@media only screen and (min-width: 1200px) {
  .getin-div {
    width: 100%;
    height: 100vh;
  }

  .getin-div h1 {
    font-size: 50px;
    font-weight: 900;
  }

  .getin-div p {
    width: 700px;
    font-size: 19px;
    padding: 20px;
  }

  .get_Top-div {
  }

  .get_icon-div {
    width: 50%;
  }

  .border-div {
    border: 2px solid rgb(207, 207, 207);
    padding: 20px;
  }

  .get_wrapper-div {
    width: 330px;
    padding: 20px;
  }

  .wrap_text-div p {
    padding: 0px;
    width: 200px;
  }

  .Icon_wrapper-div {
    padding: 50px 30px 30px 30px;
  }

  .icon-div {
    width: 60px;
    height: 60px;
    margin: 0px 0px 0px 40px;
  }

  .get_input-div {
    width: 50%;
  }

  .get_input-div input {
    width: 400px;
    height: 40px;
    font-size: 16px;
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .get_input-div button {
    padding: 10px;
    width: 150px;
  }
}
