.Home-div {
  position: relative;
  display: inline-block;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Home-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 53, 61, 0.7);
  z-index: 1;
  pointer-events: none;
}

.Home-div>* {
  position: relative;
  z-index: 2;
}


.Header_div {
  width: 100%;
  height: 80vh;
  /* background-image: url("Images/2pplPhoto.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(171, 251, 251); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.h_text-div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h_text-div h1 {
  font-size: 50px;
  text-align: start;
  padding-right: 30px;
}

.h_text-div p {
  font-size: 25px;
  text-align: start;
  padding: 30px 30px 30px 0px;
}

.h_button-div {
  display: flex;

  align-items: center;
}

.h_button-div button {
  font-size: 17px;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.h_img-div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: end;

}

.h_img-div img {
  width: 550px;
  border: none;
  border-radius: 5px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-exam {
  background: rgba(76, 175, 80, 0.0);
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  width: 100px;
}


.btn-courses {
  border: none;
  width: 150px;
}