.Intructors-div h1 {
}

.Int_top-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Int_scroll-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Int_scroll-div img {
  border-radius: 50%;
}

.Int_scroll-div h3 {
  font-weight: lighter;
  color: rgb(116, 116, 116);
}

.Int_scroll-div h2 {
  font-weight: lighter;
}

@media only screen and (max-width: 768px) {
  .Intructors-div h1 {
    padding-top: 30px;
    font-size: 30px;
  }

  .Int_top-div {
    flex-wrap: wrap;
  }

  .Int_scroll-div {
    width: 150px;
    height: 200px;
  }

  .Int_scroll-div img {
    width: 50px;
    padding: 10px;
    height: 50px;
  }

  .Int_scroll-div h3 {
    padding: 5px;
    font-size: 17px;
    font-weight: lighter;
  }

  .Int_scroll-div h2 {
    font-size: 20px;
    font-weight: lighter;
  }
}

@media only screen and (min-width: 768px) {
  .Intructors-div h1 {
    padding-top: 30px;
    font-size: 40px;
  }

  .Int_top-div {
    flex-wrap: wrap;
  }

  .Int_scroll-div {
    width: 200px;
    height: 250px;
  }

  .Int_scroll-div img {
    width: 70px;
    padding: 10px;
    height: 70px;
  }

  .Int_scroll-div h3 {
    padding: 5px;
    font-size: 19px;
    font-weight: lighter;
  }

  .Int_scroll-div h2 {
    font-size: 24px;
    font-weight: lighter;
  }
}

@media only screen and (min-width: 992px) {
  .Intructors-div h1 {
    padding-top: 30px;
    font-size: 50px;
  }

  .Int_top-div {
  }

  .Int_scroll-div {
    width: 250px;
    height: 350px;
  }

  .Int_scroll-div img {
    width: 70px;
    padding: 10px;
    height: 70px;
  }

  .Int_scroll-div h3 {
    padding: 5px;
    font-size: 20px;
    font-weight: lighter;
  }

  .Int_scroll-div h2 {
    font-size: 25px;
    font-weight: lighter;
  }
}

@media only screen and (min-width: 1200px) {
  .Intructors-div h1 {
    padding-top: 30px;
    font-size: 50px;
  }

  .Int_top-div {
  }

  .Int_scroll-div {
    width: 300px;
    height: 400px;
  }

  .Int_scroll-div img {
    width: 70px;
    padding: 10px;
    height: 70px;
  }

  .Int_scroll-div h3 {
    padding: 5px;
    font-size: 20px;
    font-weight: lighter;
  }

  .Int_scroll-div h2 {
    font-size: 25px;
    font-weight: lighter;
  }
}
