.offer_div {
  background-color: rgb(243, 249, 255);
}

.offer_top-div {
  display: flex;

  justify-content: center;
  align-items: center;
}

.offer_top-divre {
  flex-direction: row-reverse;
}

.off_img-div {
}

.off_img-div img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.off_text-div {
}
.off_text-divre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.off_text-divWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.off_text-div h2 {
  text-align: start;
  color: rgba(15, 117, 107, 1);
}

.off_text-div h3 {
  text-align: start;
  color: black;
}

.off_text-div p {
  text-align: start;
}

.off_text-div button {
  border-radius: 5px;
  border: 1 solid black;
}

.off_imghide1 {
}

.off_imghide2 {
  display: none;
}

@media only screen and (max-width: 768px) {
  .offer_div {
    width: 100%;
    padding-top: 50px;
  }

  .offer_top-div {
    gap: 200px;
    padding: 20px;
  }

  .off_img-div {
    padding: 20px;
  }

  .off_img-div img {
    width: 290px;
  }

  .off_text-div {
  }

  .off_text-divWrap {
    width: 100%;
  }

  .off_text-div h2 {
    font-size: 30px;
    font-weight: 900;
  }

  .off_text-div h3 {
    font-size: 20px;
    padding: 10px 0px 10px 0px;
  }

  .off_text-div p {
    padding-bottom: 10px;
  }

  .off_text-div button {
    padding: 10px;
    place-self: end;
  }

  .off_imghide1 {
    display: none;
  }

  .off_imghide2 {
    display: flex;
    place-self: center;
  }
}

@media only screen and (min-width: 768px) {
  .offer_div {
    width: 100%;
    padding-top: 50px;
  }

  .offer_top-div {
    padding: 20px;
  }

  .off_img-div {
    padding: 20px;
  }

  .off_img-div img {
    width: 450px;
    height: 300px;
  }

  .off_text-div {
  }

  .off_text-divWrap {
    width: 100%;
  }

  .off_text-div h2 {
    font-size: 50px;
    font-weight: 900;
  }

  .off_text-div h3 {
    font-size: 30px;
    padding: 10px 0px 10px 0px;
  }

  .off_text-div p {
    padding-bottom: 10px;
    font-size: 20px;
  }

  .off_text-div button {
    padding: 10px;
    place-self: end;
    font-size: 20px;
  }

  .off_imghide1 {
    display: none;
  }

  .off_imghide2 {
    display: flex;
    place-self: center;
  }
}

@media only screen and (min-width: 992px) {
  .offer_div {
    width: 100%;
    padding-top: 50px;
  }

  .offer_top-div {
    padding: 30px;
  }

  .off_img-div {
    width: 50%;
  }

  .off_img-div img {
    width: 400px;
  }

  .off_text-div {
    width: 50%;
  }

  .off_text-divWrap {
    height: 300px;
    width: 500px;
  }

  .off_text-div h2 {
    font-size: 40px;
    font-weight: 900;
  }

  .off_text-div h3 {
    font-size: 23px;
    padding: 10px 0px 10px 0px;
  }

  .off_text-div p {
    padding-bottom: 10px;
  }

  .off_text-div button {
    padding: 10px;
    place-self: start;
  }

  .off_imghide1 {
    display: flex;
  }

  .off_imghide2 {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .offer_div {
    width: 100%;
    padding-top: 50px;
  }

  .offer_top-div {
    padding: 30px;
  }

  .off_img-div {
    width: 50%;
  }

  .off_img-div img {
    width: 500px;
  }

  .off_text-div {
    width: 50%;
  }

  .off_text-divWrap {
    height: 300px;
    width: 500px;
  }

  .off_text-div h2 {
    font-size: 40px;
    font-weight: 900;
  }

  .off_text-div h3 {
    font-size: 23px;
    padding: 10px 0px 10px 0px;
  }

  .off_text-div p {
    padding-bottom: 10px;
  }

  .off_text-div button {
    padding: 10px;
  }

  .off_imghide1 {
  }

  .off_imghide2 {
    display: none;
  }
}
